<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
</head>
<body>
    <h1>Flights</h1>

    <table>
        <tr>
            <th>From</th>
            <th>To</th>
        </tr>
        <tr th:each="flight : ${flights}">
            <td th:text="${flight.from}"></td>
            <td th:text="${flight.destination}"></td>
        </tr>
    </table>
</body>
</html>