<div class="container">
  <div class="starter-template" style="align-items: center; display: flex; flex-direction: column;">
    <h1>
      Welcome to RxAirline
    </h1>
    <div>
      <input type="text" [(ngModel)]="search">
      <button class="btn btn-default" (click)="performSearch(search)">Search</button>
    </div>
    <div >
      <table class="table">
        <thead>
        <tr>
          <th>From</th>
          <th>Destination</th>
          <th>Departure time</th>
          <th>Arrival time</th>
          <th>Price (SEK)</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let flight of flights">
          <td>{{flight.from}}</td>
          <td>{{flight.destination}}</td>
          <td>{{flight.departure}}</td>
          <td>{{flight.arrival}}</td>
          <td>{{flight.price}}</td>
          <td><img style="width:75px" src="/assets/{{flight.airline.toLowerCase()}}.png" ></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
